<h1>Ini Form Login</h1>

<label>Username</label>
<input type="text" placeholder="PLease type here">
<br>
<br>
<label>Password</label>
<input type="password">	
<br>
<br>
<!-- <label>Remember me ?</label> -->
<input type="checkbox">
<br>
<br>
<input type="submit" value="Login">
<input type="submit" value="Batalkan">
